<!-- 个人资料页面 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>四六级单词助手</title>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/assets/js/script.js"></script>
<link rel="stylesheet" href="../static/assets/css/style.css">
<link rel="icon" href="../static/assets/img/like.ico" type="image/x-icon">
</head>

<body>
	<div style="position:absolute; width:100%; height:100%; z-index:-1">  
	<img src="../static/assets/img/bg.jpg" height="100%" width="100%"/>  
	</div>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation" style="background:rgba(255,255,255,0.9);">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
						 <span class="icon-bar"></span><span class="icon-bar"></span>
					 </button> 
					 <a class="navbar-brand" href="index"><b>四六级单词助手</b></a>
					 <a class="navbar-brand" href="/exit" th:text="${username}+' 退出'">用户名 退出</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="index">首页</a>
						</li>
						<li>
							 <a href="memorize">记单词</a>
						</li>
						<li>
							 <a href="practice">做练习</a>
						</li>
						<li>
							 <a href="resource">讨论区</a>
						</li>
						<li class="active">
							 <a href="info">个人</a>
						</li>
						<li>
						<div class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input id="input-word" type="text" class="form-control" />
						</div> 
							<button class="btn btn-primary" data-toggle="modal" onClick="openMotai()">翻译</button>
						<!--模态框?-->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">
											翻译结果
										</h4>
									</div>
									<div class="modal-body">
										<div style="margin: 10px 20px;">
											<p>
												<h1>『</h1>
												<p id="translate-result" align="center" style="font-size: 50px"></p>
												<p id="key-word" align="center"></p>
												<h1 align="right">』</h1>
											</p>
										</div>
										<audio id="aud"></audio>
										<p align="center"><img src="../static/assets/img/play.png" id="playpause"/></p>
										<script type="text/javascript">
											$("#playpause").click(function() {
												if ($("#aud")[0].paused) {
													$("#aud")[0].play();
												} else {
													$("#aud")[0].pause();
												}
											});
											$("#aud")[0].addEventListener("play", function () {
												$("#playpause").attr("src","../static/assets/img/pause.png");
											},false);
											$("#aud")[0].addEventListener("pause", function () {
												$("#playpause").attr("src","../static/assets/img/play.png");
											},false);
										</script>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭
										</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div>
						</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div style="background:rgba(255,255,255,0.6); padding: 5px 20px;">
		<h1>
			个人信息
		</h1>
		<p>
			在这里可以修改账号密码以及查看做练习的统计信息。
		</p>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="thumbnail" style="background:rgba(255,255,255,0.6);">
				<div style="margin: 10px 20px;">
					<form role="form" method="post">
						<div class="form-group">
							 <label for="exampleInputPassword1">用户名</label><input type="text" class="form-control" id="userName" th:value="${username}" disabled/>
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">新密码</label><input type="password" class="form-control" id="newPassword" required="required" />
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">重复密码</label><input type="password" class="form-control" id="confirmPassword" required="required" />
						</div>
						<button onClick="changePassword()" class="btn btn-default">修改</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-12 column">
			<div class="thumbnail" style="background:rgba(255,255,255,0.6);">
				<div style="margin: 10px 20px;">
					<h1>统计信息</h1>
					<p>已练习 <span id="total" th:text="${statistic.total_count}">0</span> 道题目， <span id="correct_num" th:text="${statistic.correct_count}">0</span> 道回答正确，正确率 <span id="correct_rate" th:text="${statistic.correct_count}/${statistic.total_count}*100+'%'">0%</span></p>
					<div style="background-color:red; width:100%; height:20px;"><div id="correct_bar" style="background-color:blue; width:0%; height:20px"></div></div>
					<script type="text/javascript">
						var correct_rate=$("#correct_rate").html();
						$("#correct_bar").css("width",correct_rate);
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
