<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DiscussMapper">
 
  <select id="queryAllTopics" resultType="bean.Topic">
  	select * from topic order by create_date desc
  </select>
  
  <insert id="createTopic" parameterType="bean.Topic">
  	insert into topic(upper,theme,content,create_date) values(#{upper},#{theme},#{content},#{create_date})
  </insert>
  
  <select id="queryTopicById" resultType="bean.Topic" parameterType="Integer">
  	select * from topic where id=#{id}
  </select>
  
  <select id="queryDiscussByTopicId" resultType="bean.Discuss" parameterType="Integer">
  	select * from discuss where topic_id=#{topic_id}
  </select>
  
  <insert id="insertNewDiscuss" parameterType="bean.Discuss">
  	insert into discuss(topic_id,username,message,discuss_date) values(#{topic_id},#{username},#{message},#{discuss_date})
  </insert>
</mapper>